In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("E:\machine learning by Asif mahmud\class 1\CW\abalone.csv")

OSError: [Errno 22] Invalid argument: 'E:\\machine learning by Asif mahmud\\class 1\\CW\x07balone.csv'

In [4]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [6]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,544.000000,544.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5147.987132,2.963235,1.286239,1.805505,0.693578
std,1.870440e+06,2171.318317,0.737405,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3596.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4580.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [7]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

# checking null values

In [8]:
df.isnull().sum()

price               0
area                1
bedrooms            1
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

# handle null values

1. Drop null values

In [9]:
df_2 = df.dropna()

In [10]:
df_2

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [11]:
df_2.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

2. Replace with mean

In [12]:
df.isnull().sum()

price               0
area                1
bedrooms            1
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [16]:
df["bedrooms"].mean()

np.float64(2.963235294117647)

In [17]:
df["bedrooms"].mean().__ceil__()

3

In [18]:
df["bedrooms"].fillna(3)

0      4.0
1      4.0
2      3.0
3      4.0
4      4.0
      ...
540    2.0
541    3.0
542    2.0
543    3.0
544    3.0
Name: bedrooms, Length: 545, dtype: float64

In [19]:
df["bedrooms"] = df["bedrooms"].fillna(3)

In [20]:
df["area"].fillna(df["area"].mean(), inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\3350052789.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["area"].fillna(df["area"].mean(), inplace=True)

In [21]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

In [22]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

# handling categorical variables

In [23]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,yes,no,no,no,no,0,no,unfurnished

## categorical variables: mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea, furnishingstatus
## numerical variables: area, bedrooms, bathrooms, stories, parking 
## target variable: price

In [24]:
df["mainroad"].value_counts()

mainroad
yes    468
no      77
Name: count, dtype: int64

# using replace method

In [25]:
df["mainroad"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\2629876290.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["mainroad"].replace({"yes":1, "no":0}, inplace=True)

In [26]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,1,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4,4,1,no,no,no,yes,3,no,furnished
2,12250000,9960.0,3.0,2,2,1,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2,2,1,no,yes,no,yes,3,yes,furnished
4,11410000,7420.0,4.0,1,2,1,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,1,no,yes,no,no,2,no,unfurnished
541,1767150,2400.0,3.0,1,1,0,no,no,no,no,0,no,semi-furnished
542,1750000,3620.0,2.0,1,1,1,no,no,no,no,0,no,unfurnished
543,1750000,2910.0,3.0,1,1,0,no,no,no,no,0,no,furnished
544,1750000,3850.0,3.0,1,2,1,no,no,no,no,0,no,unfurnished

# using label encoder

In [27]:
df["furnishingstatus"].value_counts()

furnishingstatus
semi-furnished    227
unfurnished       178
furnished         140
Name: count, dtype: int64

In [28]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder() 
df["furnishingstatus"] = label_encoder.fit_transform(df["furnishingstatus"])

In [29]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,1,no,no,no,yes,2,yes,0
1,12250000,8960.0,4.0,4,4,1,no,no,no,yes,3,no,0
2,12250000,9960.0,3.0,2,2,1,no,yes,no,no,2,yes,1
3,12215000,7500.0,4.0,2,2,1,no,yes,no,yes,3,yes,0
4,11410000,7420.0,4.0,1,2,1,yes,yes,no,yes,2,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,1,no,yes,no,no,2,no,2
541,1767150,2400.0,3.0,1,1,0,no,no,no,no,0,no,1
542,1750000,3620.0,2.0,1,1,1,no,no,no,no,0,no,2
543,1750000,2910.0,3.0,1,1,0,no,no,no,no,0,no,0
544,1750000,3850.0,3.0,1,2,1,no,no,no,no,0,no,2

In [30]:
df["guestroom"].value_counts()

guestroom
no     448
yes     97
Name: count, dtype: int64

In [31]:
# converting other categorical variables
df["guestroom"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\1525086926.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["guestroom"].replace({"yes":1, "no":0}, inplace=True)

In [32]:
df["basement"].value_counts()

basement
no     354
yes    191
Name: count, dtype: int64

In [33]:
df["basement"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\3927842754.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["basement"].replace({"yes":1, "no":0}, inplace=True)

In [34]:
df["hotwaterheating"].value_counts()

hotwaterheating
no     520
yes     25
Name: count, dtype: int64

In [35]:
df["hotwaterheating"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\2109931314.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["hotwaterheating"].replace({"yes":1, "no":0}, inplace=True)

In [37]:
df["airconditioning"].value_counts()

airconditioning
no     373
yes    172
Name: count, dtype: int64

In [38]:
df["airconditioning"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\131003732.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["airconditioning"].replace({"yes":1, "no":0}, inplace=True)

In [40]:
df["prefarea"].value_counts()

prefarea
no     417
yes    128
Name: count, dtype: int64

In [41]:
df["prefarea"].replace({"yes":1, "no":0}, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37644\2412668399.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["prefarea"].replace({"yes":1, "no":0}, inplace=True)

In [42]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2,3,1,0,0,0,1,2,1,0
1,12250000,8960.0,4.0,4,4,1,0,0,0,1,3,0,0
2,12250000,9960.0,3.0,2,2,1,0,1,0,0,2,1,1
3,12215000,7500.0,4.0,2,2,1,0,1,0,1,3,1,0
4,11410000,7420.0,4.0,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000.0,2.0,1,1,1,0,1,0,0,2,0,2
541,1767150,2400.0,3.0,1,1,0,0,0,0,0,0,0,1
542,1750000,3620.0,2.0,1,1,1,0,0,0,0,0,0,2
543,1750000,2910.0,3.0,1,1,0,0,0,0,0,0,0,0
544,1750000,3850.0,3.0,1,2,1,0,0,0,0,0,0,2

# Seperating the input features and target variable

In [44]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [46]:
X = df.drop("price", axis=1)
y = df["price"]

In [47]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420.0,4.0,2,3,1,0,0,0,1,2,1,0
1,8960.0,4.0,4,4,1,0,0,0,1,3,0,0
2,9960.0,3.0,2,2,1,0,1,0,0,2,1,1
3,7500.0,4.0,2,2,1,0,1,0,1,3,1,0
4,7420.0,4.0,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000.0,2.0,1,1,1,0,1,0,0,2,0,2
541,2400.0,3.0,1,1,0,0,0,0,0,0,0,1
542,3620.0,2.0,1,1,1,0,0,0,0,0,0,2
543,2910.0,3.0,1,1,0,0,0,0,0,0,0,0
544,3850.0,3.0,1,2,1,0,0,0,0,0,0,2

In [48]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

# Train test split

In [49]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
len(X_train), len(y_train)

(436, 436)

In [55]:
len(X_test), len(y_test)

(109, 109)

# Train model

In [57]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [58]:
lr.fit(X_train, y_train)

LinearRegression()

# test model performance on test set

In [59]:
lr.score(X_test, y_test)

0.6492488655244755

# what is this score? 

this score is called r2 score. r2 score is the measurement of how well the model fits the data and can predict based on the learning. Its not accuracy. Linear Regression models do not use accuracy as a measurement. It rather depends on checking the cost functions like Mean Squared Error (MSE), Root Mean Squared Error (RMSE), and R2 etc.

# Predict values with newly trained model

In [63]:
demo_input = X_test.iloc[0].to_numpy()

In [64]:
lr.predict([demo_input])

c:\Users\LENOVO\miniconda3\envs\new_project\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5198146.66088398])

In [67]:
lr.predict([X_test.iloc[0]])

c:\Users\LENOVO\miniconda3\envs\new_project\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5198146.66088398])

In [65]:
y_test.iloc[0]

np.int64(4060000)

In [70]:
lr.coef_

array([ 2.35180722e+02,  6.60964474e+04,  1.10485390e+06,  4.09258230e+05,
        3.64272262e+05,  2.36211303e+05,  3.94883087e+05,  6.87627397e+05,
        7.88053294e+05,  2.27803791e+05,  6.34814790e+05, -2.11227274e+05])

In [71]:
lr.intercept_

np.float64(317738.01904756855)

In [72]:
lr.n_features_in_

12

In [73]:
lr.feature_names_in_

array(['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'], dtype=object)

predict using coef and intercept

In [74]:
lr.coef_

array([ 2.35180722e+02,  6.60964474e+04,  1.10485390e+06,  4.09258230e+05,
        3.64272262e+05,  2.36211303e+05,  3.94883087e+05,  6.87627397e+05,
        7.88053294e+05,  2.27803791e+05,  6.34814790e+05, -2.11227274e+05])

In [75]:
lr.coef_[0]

np.float64(235.18072197076933)

In [77]:
X_test.iloc[1]["area"]

np.float64(6500.0)

In [78]:
area = X_test.iloc[0]["area"]
bedrooms = X_test.iloc[0]["bedrooms"]
bathrooms = X_test.iloc[0]["bathrooms"]
stories = X_test.iloc[0]["stories"]
mainroad = X_test.iloc[0]["mainroad"]
guestroom = X_test.iloc[0]["guestroom"]
basement = X_test.iloc[0]["basement"]
hotwaterheating = X_test.iloc[0]["hotwaterheating"]
airconditioning = X_test.iloc[0]["airconditioning"]
parking = X_test.iloc[0]["parking"]
prefarea = X_test.iloc[0]["prefarea"]
furnishingstatus = X_test.iloc[0]["furnishingstatus"]

In [79]:
predicted_price = (
    lr.coef_[0] * area + lr.coef_[1] * bedrooms + lr.coef_[2] * bathrooms + lr.coef_[3] * stories + lr.coef_[4] * mainroad +
    lr.coef_[5] * guestroom + lr.coef_[6] * basement + lr.coef_[7] * hotwaterheating + lr.coef_[8] * airconditioning +
    lr.coef_[9] * parking + lr.coef_[10] * prefarea + lr.coef_[11] * furnishingstatus + lr.intercept_ )

In [80]:
predicted_price

np.float64(5198146.660883983)

In [81]:
lr.predict([X_test.iloc[0]])

c:\Users\LENOVO\miniconda3\envs\new_project\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5198146.66088398])